<!--The content below is only a placeholder and can be replaced.-->
<div class="container my-content">
  <h1 style="text-align:center" class="my-bold">
    Welcome To RockWell Technical Exercise
  </h1>

  <app-add-task></app-add-task>
  <br />
</div>

<div id="footer" class="col-lg-12 col-md-12 footer-section">
    <div class="row">
      <div class="col-lg-4 col-md-4 my-2 ml-3" style="color: white;">
        Realized by <br/>David Felipe Cobo Plazas
      </div>
      
      <div class="col-lg-4 col-md-4 my-2">
        <div class="row">
          <div class="col-lg-4 col-md-4">
              <a href="https://www.linkedin.com/in/dfcobo/" style="background-color: white;" class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" title="https://www.linkedin.com/in/dfcobo/">
            <i class="fab fa-linkedin fa-2x" style="color: #0000ff; "></i></a>
          </div>
          <div class="col-lg-4 col-md-4">
              <a href="https://github.com/davidcobogithub" style="background-color: white;" class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" title="https://github.com/davidcobogithub">
            <i class="fab fa-github fa-2x" style="color: #000000;"></i></a>
          </div>
          <div class="col-lg-4 col-md-4">
              <a href="https://www.facebook.com/david.cobo.7" style="background-color: white;" class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" title="https://www.facebook.com/david.cobo.7">
            <i class="fab fa-facebook fa-2x" style="color: #0000a0;"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 my-2 ml-5" style="color: white;">
          <i class="fas fa-phone"></i> (+57) 300 783 5798 <br/>
          <i class="far fa-envelope"></i> davip.95@hotmail.com
      </div>
    </div>
  </div>